<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{
    title: 'Repuestos y accesorios'
}) %>
<body class="home--body">
    <%- include('partials/header') %>
    <main>

        <!-- !LOGOS DE CONSOLA -->
        <%- include('partials/logos') %>

        <!-- !PRODUCTOS DEl HOME  -->
        <div class="home--productosTitulo">
            <h2 c>Repuestos y accesorios</h2>
        </div>
        <div class="main">
            
            <% accessories.forEach(product => { %>
				
                <%- include('partials/cardtest',{
                    ...product,
                    toThousand
                })%>
            
            <% }) %>
          
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-5">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </main>
    <%- include('partials/footer') %>
    <div class="home-botonwhatsap">
        <i class="fa-brands fa-whatsapp fa-2xl"></i>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/carusel.js"></script>



</html>