<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{
    title: 'Carrito de Compras'
}) %>

<body class="body__carrito">
    <%- include('partials/header') %>
    <div class="carrito__box-complete">
        <div class="carrito__title">
            <h1>Mi carrito</h1>
        </div>

        <main class="carrito__main">
            <section class="carrito__articles">
                <% cartShopping.forEach(({id,name,price,image}) => { %>
                    <div class="carrito__box-articles">
                        <article class="carrito__articles-details">
                            <img src="/img/<%= image %>" alt="foto ps4" width="200" height="200">
                            <h5><%= name %></h5>
                        </article>
                        <div class="num__products">
                            <button type="button"><i class="fa-solid fa-minus"></i></button>
                            <h2><%= id %></h2>
                            <button type="button"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <div class="carrito__products-precio">
                            <h4>$<%= price %></h4>
                            <div>
                                <form action="" method="post">
                                    <button type="button"><i class="fa-solid fa-xmark"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>    
                <!-- <div class="carrito__box-articles">
                    <article class="carrito__articles-details">
                        <img src="/img/atari-8.png" alt="foto ps4" width="200" height="200">
                        <h5>Consola Atari Flashback 8</h5>
                    </article>
                    <div class="num__products">
                        <button type="button"><i class="fa-solid fa-minus"></i></button>
                        <h2>1</h2>
                        <button type="button"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <div class="carrito__products-precio">
                        <h4>$240.000</h4>
                        <div>
                            <button type="button"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </div> -->

            </section>
        </main>
        <aside class="carrito__options">


            <div class="carrito__options--total-precio">
                <h3>Total</h3>
                <h3>$<%= toThousand(priceFinal) %></h3>
            </div>

            <div class="carrito__options-buttons">
                <div class="button__final">
                    <a href="#">Finalizar Compra</a>
                </div>
                <div class="button__continuar">
                    <a href="#">Continuar Comprando</a>
                </div>
            </div>
        </aside>

    </div>
    <%- include('partials/footer') %>
</body>

</html>