<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{
    title: 'Home'
}) %>
<body class="home--body">
    <%- include('partials/header') %>
    <main>
        <!-- !CARRUSEL -->
        <%- include('partials/banner') %>

        <!-- !LOGOS DE CONSOLA -->
        <%- include('partials/logos') %>
        <!-- !OFERTAS DESTADAS -->
        <div class="home--ofertasTitulo">
            <h2 c>OFERTAS DESTACADAS</h2>
        </div>
        <div class="main">

            <% productsSale.forEach(product => { %>
                
				
					<%- include('partials/cardtest',{
						...product.dataValues,
                        toThousand
					})%>
				
           
                <% }) %>
            
        </div>

        <!-- !PRODUCTOS DEl HOME  -->
        <div class="home--productosTitulo">
            <h2 c>Productos</h2>
        </div>

        
        <div class="main">
        <% productsVisited.forEach(product => { %>
				
					<%- include('partials/cardtest',{
						...product.dataValues,
                        toThousand
					})%>
				
                <% }) %>
            </div>
          
           

        <div class="home__boton--verMas">
            <input type="button" value="Ver Mas Productos">
        </div>
    </main>
    <%- include('partials/footer') %>
    <div class="home-botonwhatsap">
        <i class="fa-brands fa-whatsapp fa-2xl"></i>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/carusel.js"></script>



</html>