<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{
    title: 'Home'
}) %>
<body class="home--body">
    <%- include('partials/header') %>
    <main>
        <!-- !CARRUSEL -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="/img/home/banner.jpg" alt=""> </div>
                <div class="swiper-slide"> <img src="/img/home/banner1.jpg" alt=""> </div>
                <div class="swiper-slide"> <img src="/img/home/banner2.jpg" alt=""> </div>


            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- !LOGOS DE CONSOLA -->
        <div class="home--categorias-consolas">
            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consolas__logo--play">
                    <i class="fa-brands fa-playstation "></i>
                </div>
            </div>

            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consolas__logo--xbox">
                    <i class="fa-brands fa-xbox "></i>
                </div>
            </div>

            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consola__logo--nintedo">
                    <i class="bi bi-nintendo-switch"></i>
                </div>


            </div>

            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consolas__logo--joystick">
                    <i class="bi bi-joystick"></i>
                </div>
            </div>

        </div>
        <!-- !OFERTAS DESTADAS -->
        <div class="home--ofertasTitulo">
            <h2 c>OFERTAS DESTACADAS</h2>
        </div>
        <div class="home--productosTitulo">

            <% productsSale.forEach(product => { %>
                <div class="home__productos">
				
					<%- include('partials/productCard',{
						...product,
                        toThousand
					})%>
				
            </div>
                <% }) %>
            
        </div>

        <!-- !PRODUCTOS DEl HOME  -->
        <div class="home--productosTitulo">
            <h2 c>Productos</h2>
        </div>

        
        <div class="home__productos">
        <% productsVisited.forEach(product => { %>
				
					<%- include('partials/productCard',{
						...product,
                        toThousand
					})%>
				
                <% }) %>
            </div>
          
           

        <div class="home__boton--verMas">
            <input type="button" value="Ver Mas Productos">
        </div>
    </main>
    <%- include('partials/footer') %>
    <div class="home-botonwhatsap">
        <i class="fa-brands fa-whatsapp fa-2xl"></i>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/carusel.js"></script>



</html>