<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title:"Crear Producto"}) %>

<body class="bodyRegister">
    <%- include('partials/header',{title:"Crear Producto"}) %>
    <main class="form__main">
        <!-- REGISTRO -->
        
        <section class="form__registro">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
              <li class="breadcrumb-item active" style="color: silver;" aria-current="page">Agregar Producto</li>
            </ol>
          </nav>
            <div class="form-box2">
                <h2>Agregar Producto</h2>
                <div class="d-flex flex-column">
                  <img class="img-fluid rounded" id="imgMain" src="" alt="">
                </div>
                <form action="/products/add" method="POST" enctype="multipart/form-data" id="formAdd" class="form">
                    <div class="form-input">
                        <label for="name">Titulo:</label>
                        <input type="text" id="name" placeholder="Titulo del producto" name="name" class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>"  value="<%= locals.old && (old.name && old.name ) %>" >
                        <small class="text-danger ms-2" id="msgError-name">
                            <%= locals.errors && (errors.name && errors.name.msg) %>
                          </small>
                    </div>
                    <div class="form-input">
                        <label for="categoryId">Categoria:</label>
                        <select class="form-select  <%= locals.errors && (errors.categoryId && 'is-invalid') %>"
                            aria-label="Default select example" name="categoryId" id="categoryId">
                            
                            <option value="" selected hidden>Seleccione...</option> 
                            <% categories.forEach(category=> { %>
                                <option value="<%= category.id %>" <%=locals.old && (locals.old.categoryId===category.id 
                                  && 'selected') %>>
                                  <%= category.name %>
                                </option>
                                <% }) %>
                        </select>
                        <small class="text-danger ms-2" id="msgError-categoryId">
                            <%= locals.errors && (errors.categoryId && errors.categoryId.msg) %>
                          </small>

                    </div>
                    <div class="form-input">
                        <label for="estado">Estado:</label>
                        <select id="sectionId" name="sectionId" class="form-select <%= locals.errors && (errors.sectionId && 'is-invalid') %>" >
                            <option value="" selected hidden>Seleccione...</option>
                            <% sections.forEach(section=> { %>
                                <option value="<%= section.id %>" <%=locals.old && (locals.old.sectionId===section.id 
                                  && 'selected') %>>
                                  <%= section.name %>
                                </option>
                                <% }) %>
                        </select>
                        <small class="text-danger ms-2" id="msgError-sectionId">
                            <%= locals.errors && (errors.sectionId && errors.sectionId.msg) %>
                          </small>
                    </div>
                  <!--   <div class="form-foto" >
                        <label for="type" class="form-boton-foto" >Subi tu foto</label>
                        <input hidden type="file"  name="image" id="image">
                    </div> -->

                    <div class="form-input">
                        <label for="typeId">Type:</label>
                        <select id="typeId" name="typeId" class="form-select <%= locals.errors && (errors.typeId && 'is-invalid') %>">
                            <option value="" selected hidden>Seleccione...</option>
                            <% types.forEach(type=> { %>
                                <option value="<%= type.id %>" <%=locals.old && (locals.old.typeId===type.id 
                                  && 'selected') %>>
                                  <%= type.name %>
                                </option>
                                <% }) %>
                        </select>
                        <small class="text-danger ms-2" id="msgError-typeId">
                            <%= locals.errors && (errors.typeId && errors.typeId.msg) %>
                        </small>
                    </div>
                    <div class="form-input">
                        <label for="price">Precio:</label>
                        <input type="number" id="price" placeholder="$ 0.00" name="price" class="form-control <%= locals.errors && (errors.price && 'is-invalid') %>"  value="<%= locals.old && (old.price && old.price ) %>" >
                        <small class="text-danger ms-2" id="msgError-price">
                            <%= locals.errors && (errors.price && errors.price.msg) %>
                          </small>
                    </div>
                    <div class="form-input">
                        <label for="discount">Descuento:</label>
                        <input type="number" id="discount"  name="discount" value="<%= locals.errors && (old.discount && old.discount) %>">
                    </div>
                    <div class="form-foto mb-4" >
                        <label for="image" class="form-boton-foto" >Subir imagen de producto</label>
                        <input hidden type="file"  name="image" id="image">
                      </div>
                      <small class="text-danger m-3" id="msgError-image">
                        <%= locals.errors && (errors.image && errors.image.msg) %>
                      </small>
                    <div class="form-input-textArea">
                        <label for="description">Descripcion:</label>
                        <textarea name="description" id="description"
                      class="form-control <%= locals.errors && (errors.description && 'is-invalid') %>"
                      style="resize: none"><%= locals.old && (old.description && old.description ) %></textarea>
                    <small class="text-danger ms-2" id="msgError-description">
                      <%= locals.errors && (errors.description && errors.description.msg) %>
                    </small>
                        
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                           
                        <small class="text-danger ms-2" id="msgError-empty" %>
                          </small>
                    </div>
                    <div class="form-submit-button2">
                        <button type="reset">Cancelar</button>
                        <button type="submit">Crear producto</button>
                    </div>
                </form>
                
            </div>
        </section>
      </main>
      
      <script src="/js/productAddValidation.js"></script>
      <script src="/js/productAddImg.js"></script>
      
        

</body>

</html>