<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title:"Editar Producto"}) %>

<body>
    <%- include('partials/header') %>
    <main class="form__main">
        <!-- EDIT -->
        <section class="form__registro">
            <div class="form-box">
                <h2>Editar Producto</h2>
                <form action="/products/edit/<%= productDetail.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-input">
                        <label for="titulo">Titulo:</label>
                        <input type="text" id="titulo" placeholder="" name="name" value="<%= productDetail.name %>">
                    </div>
                    <div class="form-input">
                        <label for="categoria">Categoria:</label>
                        <select id="categoria" name="category" required>
                            <option selected hidden>Seleccione...</option>
                            <option value="arcade"<%= productDetail.category ==='arcade' && 'selected' %>>Arcade</option>
							<option value="playstation"<%= productDetail.category ==='playstation' && 'selected' %>>Playstation</option>
                            <option value="xbox"<%= productDetail.category ==='xbox' && 'selected' %>>Xbox</option>
							<option value="Nintendo"<%= productDetail.category ==='Nintendo' && 'selected' %>>Nintendo</option>
                            
                        </select>

                    </div>
                    <div class="form-input">
                        <label for="tipo">Tipo de Producto:</label>
                        <select id="tipo" name="tipo" required>
                            <option selected hidden>Seleccione...</option>
                            <option value="retro"<%= productDetail.category ==='retro' && 'selected' %>>Retro</option>
							<option value="actual"<%= productDetail.category ==='actual' && 'selected' %>>Actual</option>
                            
                        </select>
                    </div>
                    <div class="form-foto" >
                        <label for="image" class="form-boton-foto" >Cargar imagen del producto</label>
                        <input hidden type="file"  name="image" id="image">
                    </div>
                    <div class="form-input">
                        <label for="precio">Precio:</label>
                        <input type="number" id="precio" placeholder="$ 0.00" name="price" value="<%= productDetail.price %>">
                    </div>
                    <div class="form-input">
                        <label for="promo">Precio promocional:</label>
                        <input type="number" id="promo" placeholder="$ 0.00" name="discount" value="<%= productDetail.discount %>">
                    </div>
                    <div class="form-input-textArea">
                        <label for="descripcion">Descripcion:</label>
                        <textarea id="descripcion" rows="4" cols="50" placeholder="Describe tu producto..." name="description"><%= productDetail.description %></textarea>
                        
                    </div>
                
                    
                    <div class="form-submit-button">
                        <button type="submit">Editar producto</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
  
    <%- include('partials/footer') %>
</body>

</html>