
<article class="home__main--article">

    <div class='card'>
      
            <div class="card--imageConteiner">

                    <a href="/products/detail/<%= id %>">  <img src="/img/products/<%= image || 'default-img.png' %>" class='card__img'> </a> 
            </div>
      
        <h5 class='card__title'>
            <%= name %>
        </h5>
        <div class='card__content'>
            <% if (discount) { %>
                <div class="d-flex justify-content-center">
                <h5 class='card__precio'>$ <%= toThousand((price).toFixed(0)) %> % <%= discount %> OFF</h5>
                </div>
            <% }else{ %>
            <h3 class='card__precio'>$<%= toThousand((price).toFixed(0)) %>
            </h3>
            <% } %>
        </div>
        <a onclick="addItemToCart(1,'<%=id%>')" class='card__link'>Agregar al carrito</a>
    </div>


</article>

