

<article class="home__productos--article" >
    <a href="/products/detail/<%= id %>"><img src="/img/products/<%= image || 'default-img.png' %>" alt="producto"></a>
    <div class="home__productos-producto">
        <p class="descripcion"><%= name %></p>
        <p class="precio">$<%= toThousand((price).toFixed(0)) %></p>
        <form action="/products/addCart/<%= id %>">
            <input  type="submit" value="Agregar al carrito">
        </form>
    </div>
</article>

