<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Category</th>
                <th scope="col">image</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(({id, firstName, lastName, email, category, image, roleId}, index)=> { %>
                <tr>
                    <th scope="row">
                        <%= index + 1 %>
                    </th>
                    <td>
                        <%= firstName %>
                    </td>
                    <td>
                        <%= lastName %>
                    </td>
                    <td>
                        <%= email %>
                    </td>
                    <td>
                        <%= category %>
                    </td>
                    <td>
                        <%= image %>
                    </td>
                    <td>
                        <div class="switch">
                            <input type="checkbox" id="switch-toggle" name="switch-toggle" class="switch-checkbox" />
                            <label for="switch-toggle" class="switch-label">
                              <span class="switch-inner"></span>
                              <span class="switch-switch"></span>
                            </label>
                          </div>
                          
                          <form id="changeRoleForm" method="POST" action="/api/users/change-role">
                            <!-- Aquí incluirías cualquier otro campo necesario -->
                            <input type="hidden" name="userId" value="1" /> <!-- Valor de ejemplo, cambiar según tu lógica -->
                            <input type="hidden" name="newRoleId" value="2" /> <!-- Valor de ejemplo, cambiar según tu lógica -->
                            <button type="submit" id="submitBtn" style="display: none;">Cambiar Rol</button>
                          </form>
                        </div>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>



    
    <script>
        // JavaScript
        
        </script>
